name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Lua and luacheck
        run: |
          sudo apt-get update
          sudo apt-get install -y lua5.3 luarocks
          sudo luarocks install luacheck

      - name: Run lint script
        run: bash .github/scripts/lint.sh
